.job-item-cont {
  background-color: #272727;
  padding: 24px;
  margin: 3px;
}
.rat-star {
  color: yellow;
}
.job-company-logo {
  width: 55px;
}
.company-logo-cont {
  display: flex;
  align-items: center;
}
.loc-emp-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loc-emp {
  display: flex;
  align-items: center;
}
