.jobs-cont {
  background-color: #000000;
  min-height: 100vh;
}
.job-search-icon {
  background-color: transparent;
  border: 2px solid #64748b;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 6px;
  height: 24px;
}
.search-icon {
  background-color: #64748b;
  height: 24px;
  width: 27px;
  padding: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
